.catNav
  position relative

  border-bottom 1px solid rgba(235, 235, 235, .1)

  &::before
    content ''

    position absolute
    top -115px

    display block
    height 115px
    width 100%

    background-color white

    transition top .4s

  &:hover::before,
  &.-hover::before
    top 0
    tran

  &::after
    content ''

    position absolute
    top -414px

    display block
    width 100%
    height 414px
    background-color white

    transition top .8s ease .1s

  &:hover::after,
  &.-hover::after
    top 100%

  &_wrapper
    position relative
    z-index 1

    width layout-width
    height 115px
    margin 0 auto


  &_brand
    position absolute
    top 0
    left -34px

  &_menu
    width 915px
    margin-left 185px

  &_parentWrapper
    display flex
    justify-content space-between
    align-items center
    height 115px

  &_parentCat
    display inline-block

  &_parentCatName
    position relative
    padding-right 13px

    color white
    font-family GothamPro
    font-size 13px
    font-weight 900
    text-transform uppercase

    transition color .3s

    &:hover
      color rgb(219, 78, 71)

    cursor pointer

    &::after
      content ''

      position absolute
      top 52%
      right 0

      display block
      width 6px
      height 5px

      bg-svg($arrow-dropdown)

      transform translateY(-50%)

  &:hover &_parentCatName
    color black


  &_childrenWrapper
    display none

  &_search
    position absolute
    top 49%
    right 0

    transform translateY(-50%)

  &_search svg
    width 18px
    height 22px
