.callback
  text-align center

  &_tel
    display inline-block
    padding 17px 7px 0

    color white
    font-family GothamPro
    font-size 14px
    font-weight 500
    text-transform uppercase

  &_btn
    display inline-block
    padding 18px 7px 0

    color #c5c5c5
    font-family HelveticaNeue
    font-size 12px
