.header
  position relative
  z-index 10
  background-color #272727
  height 48px

  &_wrapper
    max-width layout-width
    margin 0 auto

    m-cf()

  &_nav
    float left
    width 500px
    height 48px

  &_callback
    float left
    width 310px
    height 100%

  &_userStatus
    float left
    width 400px
    height 48px
